
        
        <nav class="nav-links">
          <ul class="nav-ul">
        	<li class="nav-li"> <%= link_to "Music Blog", root_path%> </li>
        	<div class="nav-right">
	            <li class="nav-li"> <% if !user_signed_in? %>
					<%=link_to "Admin Login", new_user_session_path %>
				<% end %>
				</li>
	            <li class="nav-li"><%= link_to "Home", root_path %></li>
	            <li class="nav-li"> <% if user_signed_in? %>
					<%=link_to "New Post", new_post_path %>
					<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
					<% end %>
				</li>
			</div>
          </ul>
        </nav>
      </div>
