<%= div_for post do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <strong><%= h(post.title) %></strong><br />
    <sup class="text-muted">From <%= time_ago_in_words(post.created_at)%></sup><br/>
    <div class="mb pb">
      <%= h(post.body) %>
    </div>
    <div class="tags">
		<p>Tags: <%=raw tag_links(post.all_tags)%> </p>
	</div>
  </div>
<% end %>