<%= div_for post do %>
  <div>
    <strong><%= h(post.title) %></strong><br />
    <sup>From <%= time_ago_in_words(post.created_at)%></sup><br/>
    <div>
      <%= h(post.body) %>
    </div>
    <div class="tags">
		<p>Tags: <%=raw tag_links(post.all_tags)%> </p>
	</div>
  </div>
<% end %>