<ul>
	<li Website class="category">Website</li>
	<li><%=link_to "Blog", root_path%></li>
	<li>About</li>
</ul>

<ul>
	<li class="category">Social</li>
	<li><a href="https://www.linkedin.com/in/jdagley/"</a>Linkedin</li>
	<li><a href="https://github.com/jdagley77"</a>Github</li>
	<li><a href="mailto:hi@jackdagley.me"</a>Email</li>
</ul>

<%= render "new" %>
<%= link_to "All Tags", posts_path %>
<%= render @posts.reverse %>
<br>
<br>

<% @news.each do |article| %>
<%=link_to article["title"], article["url"]%>
<p><%=article["description"]%></p>
<p>by <%=article["author"]%></p>
<br>
<% end %>




