<div class="columns">
	<div id="posts">
		<h2>Articles</h2>
		<%= link_to "All Tags", posts_path, class: "btn" %><br><br>
		<%= render @posts.reverse.last(5) %>
		<%= will_paginate @posts %>
	</div>

	<div id="news">
	<h2>News</h2>
		<% @news.each do |article| %>
			<p><%=link_to article["title"], article["url"]%></p>
			<p><%=article["description"]%></p>
			<p>by <%=article["author"]%></p><br>
		<% end %>
	</div>
</div>


