<h1>Welcome</h1>


<% @posts.each do |post| %>
	<h3><%=post.title%></h3>
	<p> <%=truncate(post.body, :length => 120) %></p>
	<p><%=post.created_at.to_s(:long)%></p>
		<% post.tags.each do |tag| %>
			<p><%=tag.name%></p>
		<% end %>
<% end %>

<br>
<br>

<% @news.each do |article| %>
<%=link_to article["title"], article["url"]%>
<p><%=article["description"]%></p>
<p>by <%=article["author"]%></p>
<br>
<% end %>




