<%= link_to "Back", root_path %>

<section id="post-show">
	<h1><%=@post.title%></h1>
	<p><%=@post.body%></p>

	<h3>Comments</h3>
	<%@post.comments.each do |comment|%>
	<p><%=comment.body%></p>
		<% if current_user && current_user.admin? %>
			<p> <%=link_to "Delete", [comment.post, comment], method: :delete%> </p>
		<%end%>
	<%end%>
	<%= render "comments/form" %>
</section>